xvlach22.zip

# Ignore all folders with uuids in the name
uploads/*-*  
!uploads/example_*
.venv_*
.vscode
libs/*/

/**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info
*.egg
*.whl
*.log
*.DS_Store
*.env
*.env.*local
*.coverage
*.cover
*.tox
*.coverage.*
*.hypothesis
*.hypothesis.*
*.pytest_cache
*.mypy_cache
*.pytest_cache
